<?xml version="1.0" encoding="UTF-8"?>
<!--
Theme: Animatix-DX for Retrobat / Batocera / Emuelec
author: Snapouille
license: creative commons CC-BY-NC-SA
originally based on: "carbon"
-->
<theme defaultView="gamecarousel">
  <formatVersion>7</formatVersion>
  <view name="system">
    <!-- Used by random box need to be declared there -->
    <image name="box" extra="true">
      <pos>0.50 0.18</pos>
      <origin>0.5 0.5</origin>
      <maxSize>0.24 0.24</maxSize>
      <zIndex>12</zIndex>
      <visible>false</visible>
    </image>
    <video name="videobox" extra="true">
      <pos>0.50 0.18</pos>
      <origin>0.5 0.5</origin>
      <maxSize>0.24 0.24</maxSize>
      <visible>false</visible>
      <zIndex>12</zIndex>
    </video>
	
		<image name="background" extra="true">
		  <tile>false</tile>
		  <size>1 1</size>
		  <pos>0 0</pos>
		  <origin>0 0</origin>
		  <path>./../../art/divers/bg.png</path>
		  <color>${backgroundColor}</color>
		  <zIndex>10</zIndex>
		</image>
		

    <text name="logoText">
      <fontPath>./../../art/fonts/ubuntu-bold.ttf</fontPath>
      <fontSize>0.06</fontSize>
      <color>FFFFFFFF</color>
      <glowColor>00000010</glowColor>
      <glowSize>3</glowSize>
      <forceUppercase>false</forceUppercase>    
    </text>
    
    
    <!-- Règle d'affichage et animation des logos des systèmes -->
	<image name="logo">
      <path>./../../art/logos/${system.theme}.png</path>
	  <path>./../../art/logos/${system.theme}.svg</path>
	  <path>./../../art/logos/${system.theme}-${lang}.png</path>
	  <path ifSubset="artworkregion:US">./../../art/logos/US/${system.theme}.png</path>
	  <path ifSubset="artworkregion:JP">./../../art/logos/JP/${system.theme}.png</path>
	  <linearSmooth>true</linearSmooth>
	  <storyboard event="activate" repeatAt="300">
				<animation property="origin" from="0.5 0.5" to="0.5 0.53" begin="50" duration="250" mode="easeInOut"/>
				<animation property="origin" from="0.5 0.53" to="0.5 0.47" begin="300" duration="1000" autoreverse="true" repeat="10" mode="easeInOut"/>
				<animation property="rotation" to="-5" begin="4300" duration="250" autoreverse="true" mode="bump"/>
				<animation property="scale" to="0.9" begin="5800" duration="250" autoreverse="true" mode="bump"/>
				<animation property="saturation" to="0" begin="7300" duration="2500" autoreverse="true" mode="easeInOut"/>
	  </storyboard>
	  
    </image>
	
	<image name="logo" ifSubset="logostyle:black">
     
      <saturation>0</saturation>
         <storyboard event="activate" repeatAt="300">
				<animation property="saturation" from="0" to="1" begin="" duration="" mode="Linear"/>
				<animation property="origin" from="0.5 0.5" to="0.5 0.53" begin="50" duration="250" mode="easeInOut"/>
				<animation property="origin" from="0.5 0.53" to="0.5 0.47" begin="300" duration="1000" autoreverse="true" repeat="10" mode="easeInOut"/>
				<animation property="rotation" to="360" begin="4300" duration="250" mode="easeInOut"/>
				<animation property="scale" to="0.9" begin="5800" duration="250" autoreverse="true" mode="bump"/>
				<animation property="rotation" to="-360" begin="7300" duration="250" mode="easeInOut"/>
	  </storyboard>
    </image> 
	
	
	<!-- Règle d'affichage des consoles -->
	<image name="Consoles" extra="true">
      <path>./../../art/consoles/${system.theme}.png</path>
	  <path>./../../art/consoles/${system.theme}.svg</path>
	  <path ifSubset="artworkregion:US">./../../art/consoles/US/${system.theme}.png</path>
	  <path ifSubset="artworkregion:JP">./../../art/consoles/JP/${system.theme}.png</path>
	  <linearSmooth>false</linearSmooth>
	  
	  
	  <!-- <storyboard> -->
			<!-- <animation property="scale" to="1.1" begin="3000" duration="250" autoreverse="true" mode="bump"/> -->
	  <!-- </storyboard> -->
	  
  	</image>
	
	
	
	
    <image name="ControllerOverlay" extra="true">
      <tile>false</tile>
	  <origin>0.5 0.5</origin>
      <path>./../../art/controllers/default.svg</path>
      <path>./../../art/controllers/${system.theme}.svg</path>
      <color>${baseColor}</color>
      <zIndex>19</zIndex>
      <linearSmooth>true</linearSmooth>
    </image>
	
	
	
	<!-- Animation barre autour de la frame (cadre) centrale -->
	
		<image name="frame_barreAnim_haut, frame_barreAnim_bas, frame_barreAnim_gauche, frame_barreAnim_droite">
				<path>./../../art/divers/white.png</path>
				<color>${baseColor}</color>
				<origin>0.5 0.5</origin>
				<zIndex>17</zIndex>
				<opacity>1</opacity>
		</image>	
		
		<image name="frame_barreAnim_haut"  extra="true">
				<size>0.0151042 0.012963</size>									
				<pos>0.5153646 0.055</pos>		

			<storyboard repeat="forever">
				<animation property="w" to="0.1088542" begin="" duration="800" mode="EaseInOut"/>
				<animation property="w" to="0.0151042" begin="6000" duration="600" autoreverse="true" mode="EaseIn"/>
				<animation property="w" to="0.0151042" begin="12000" duration="900" autoreverse="true" mode="EaseIn"/>
				<animation property="w" to="0.02" begin="20000" duration="1000" mode="Bump"/>
			</storyboard>
				
		</image>

		<image name="frame_barreAnim_bas"  extra="true">
				<size>0.0151042 0.012963</size>									
				<pos>0.293 0.718</pos>		

			<storyboard repeat="forever">
				<animation property="w" to="0.2088542" begin="" duration="800" mode="EaseInOut"/>
				<animation property="w" to="0.0151042" begin="6000" duration="600" autoreverse="true" mode="EaseIn"/>
				<animation property="w" to="0.0151042" begin="12000" duration="900" autoreverse="true" mode="EaseIn"/>
				<animation property="w" to="0.03" begin="20000" duration="1000" mode="EaseInOut"/>
			</storyboard>
				
		</image>	
		
	<!-- gauche et droite mis en standbye pour l'instant  -->
	
		<!-- <image name="frame_barreAnim_gauche"  extra="true"> -->
			<!-- <size>0.0036458 0.0324074</size>									 -->
			<!-- <pos>0.0247396 0.2115741</pos>									 -->
			<!-- <storyboard> -->
				<!-- <animation property="y" to="0.3412037" begin="" duration="600" autoreverse="true" mode="EaseIn"/> -->
				<!-- <animation property="offsetX" to="0.0039" begin="1200" duration="500" mode="linear"/> -->
				<!-- <animation property="opacity" to="0" begin="1700" duration="300" mode="linear"/> -->
			<!-- </storyboard> -->
		<!-- </image>		 -->
		<!-- <image name="frame_barreAnim_droite"  extra="true"> -->
			<!-- <size>0.0036458 0.0212963</size>									 -->
			<!-- <pos>0.6127604 0.4958333</pos>									 -->
			<!-- <storyboard> -->
				<!-- <animation property="y" to="0.3939815" begin="" duration="600" autoreverse="true" mode="EaseIn"/> -->
				<!-- <animation property="offsetX" to="-0.0039" begin="1200" duration="500" mode="linear"/> -->
				<!-- <animation property="opacity" to="0" begin="1700" duration="300" mode="linear"/> -->
			<!-- </storyboard> -->
		<!-- </image>	 -->
	
	
	<!-- Animation barre diagonales -->
	<!-- Animation Diago du haut vers l'avatar -->
	
		<image name="diago-haut1, diago-haut2, diago-haut3, diago-haut4, diago-haut5">
			<path>./../../art/divers/diago-H.png</path>
			<origin>0.5 0.5</origin>					
			<size>0.0125 0.0333333</size>									
			<color>${baseColor}</color>
			<zIndex>18</zIndex>
			<opacity>0</opacity>
		</image>

		<image name="diago-haut1" extra="true">
			<pos>0.4411458 0.0675926</pos>									
			
			<storyboard repeat="forever">
				<animation property="opacity" to="1" begin="800" duration="100" mode="linear"/>
				<animation property="opacity" to="0" begin="1400" duration="300" autoreverse="true" mode="linear"/>
				<animation property="offsetX" to="-0.05" begin="5700" duration="300" mode="linear"/>
				<animation property="offsetX" to="0" begin="6000" duration="300" mode="linear"/>
				<animation property="color" to="FFFF00" begin="14000" duration="300" autoreverse="true" mode="linear"/>
				<animation property="opacity" to="0" begin="8000" duration="300" autoreverse="true" mode="linear"/>
				<animation property="offsetX" to="-0.05" begin="11200" duration="300" mode="linear"/>
				<animation property="offsetX" to="0" begin="12000" duration="300" mode="linear"/>
				<animation property="opacity" to="0" begin="20900" duration="100" mode="linear"/>				
			</storyboard>
			
		</image>
	
		<image name="diago-haut2" extra="true">
			<pos>0.4307292 0.0675926</pos>									
			
			<storyboard repeat="forever">
				<animation property="opacity" to="1" begin="900" duration="100" mode="linear"/>
				<animation property="opacity" to="0" begin="1700" duration="300" autoreverse="true" mode="linear"/>
				<animation property="offsetX" to="-0.05" begin="5400" duration="300" mode="linear"/>
				<animation property="offsetX" to="0" begin="6000" duration="300" mode="linear"/>
				<animation property="color" to="FFFF00" begin="14300" duration="300" autoreverse="true" mode="linear"/>
				<animation property="opacity" to="0" begin="8300" duration="300" autoreverse="true" mode="linear"/>
				<animation property="offsetX" to="-0.05" begin="10900" duration="300" mode="linear"/>
				<animation property="offsetX" to="0" begin="12300" duration="300" mode="linear"/>
				<animation property="opacity" to="0" begin="20800" duration="100" mode="linear"/>
				<animation property="opacity" to="0" begin="20900" duration="100" mode="linear"/>								
			</storyboard>
			
		</image>
	
		<image name="diago-haut3" extra="true">
			<pos>0.4203125 0.0675926</pos>									
			
			<storyboard repeat="forever">
				<animation property="opacity" to="1" begin="1000" duration="100" mode="linear"/>
				<animation property="opacity" to="0" begin="2000" duration="300" autoreverse="true" mode="linear"/>
				<animation property="offsetX" to="-0.05" begin="5100" duration="300" mode="linear"/>
				<animation property="offsetX" to="0" begin="6000" duration="300" mode="linear"/>
				<animation property="color" to="FFFF00" begin="14600" duration="300" autoreverse="true" mode="linear"/>
				<animation property="opacity" to="0" begin="8600" duration="300" autoreverse="true" mode="linear"/>
				<animation property="offsetX" to="-0.05" begin="10600" duration="300" mode="linear"/>
				<animation property="offsetX" to="0" begin="12600" duration="300" mode="linear"/>
				<animation property="opacity" to="0" begin="20700" duration="100" mode="linear"/>
				<animation property="opacity" to="0" begin="20900" duration="100" mode="linear"/>				
			</storyboard>
			
		</image>
		
		<image name="diago-haut4" extra="true">
			<pos>0.4098958 0.0675926</pos>									
			
			<storyboard repeat="forever">
				<animation property="opacity" to="1" begin="1100" duration="100" mode="linear"/>
				<animation property="opacity" to="0" begin="2300" duration="300" autoreverse="true" mode="linear"/>
				<animation property="offsetX" to="-0.05" begin="4800" duration="300" mode="linear"/>
				<animation property="offsetX" to="0" begin="6000" duration="300" mode="linear"/>
				<animation property="color" to="FFFF00" begin="14900" duration="300" autoreverse="true" mode="linear"/>
				<animation property="opacity" to="0" begin="8900" duration="300" autoreverse="true" mode="linear"/>
				<animation property="offsetX" to="-0.05" begin="10300" duration="300" mode="linear"/>
				<animation property="offsetX" to="0" begin="12900" duration="300" mode="linear"/>
				<animation property="opacity" to="0" begin="20600" duration="100" mode="linear"/>
				<animation property="opacity" to="0" begin="20900" duration="100" mode="linear"/>
			</storyboard>
			
		</image>
		
		<image name="diago-haut5" extra="true">
			<pos>0.3994792 0.0675926</pos>									
			
			<storyboard repeat="forever">
				<animation property="opacity" to="1" begin="1200" duration="100" mode="linear"/>
				<animation property="opacity" to="0" begin="2600" duration="300" autoreverse="true" mode="linear"/>
				<animation property="offsetX" to="-0.05" begin="4500" duration="300" mode="linear"/>
				<animation property="offsetX" to="0" begin="6000" duration="300" mode="linear"/>
				<animation property="color" to="FFFF00" begin="15200" duration="300" autoreverse="true" mode="linear"/>
				<animation property="opacity" to="0" begin="9200" duration="300" autoreverse="true" mode="linear"/>
				<animation property="offsetX" to="-0.05" begin="10000" duration="300" mode="linear"/>
				<animation property="offsetX" to="0" begin="13200" duration="300" mode="linear"/>
				<animation property="opacity" to="0" begin="20500" duration="100" mode="linear"/>
				<animation property="opacity" to="0" begin="20900" duration="100" mode="linear"/>
			</storyboard>
			
		</image>
	
	
		<!-- Animation Diago du BAS -->
	
		<image name="diago-bas1, diago-bas2, diago-bas3, diago-bas4, diago-bas5">
			<path>./../../art/divers/diago-B.png</path>
			<origin>0.5 0.5</origin>					
			<size>0.015625 0.0296296</size>									
			<color>${baseColor}</color>
			<zIndex>18</zIndex>
			<opacity>0</opacity>
		</image>

		<image name="diago-bas1" extra="true">
			<pos>0.4427083 0.7046296</pos>									
			
			<storyboard repeat="forever">
				<animation property="opacity" to="1" begin="800" duration="100" mode="linear"/>
				<animation property="opacity" to="0" begin="1400" duration="300" autoreverse="true" mode="linear"/>
				<animation property="opacity" to="0" begin="3000" duration="100" mode="linear"/>
				<animation property="color" to="FFFF00" begin="5000" duration="10" mode="linear"/>
				<animation property="opacity" to="1" begin="5100" duration="100" mode="linear"/>
				<animation property="opacity" to="0" begin="6100" duration="100" mode="linear"/>
				<animation property="opacity" to="0" begin="11000" duration="100" mode="linear"/>				
			</storyboard>
			
		</image>
	
		<image name="diago-bas2" extra="true">
			<pos>0.4546875 0.7046296</pos>									
			
			<storyboard repeat="forever">
				<animation property="opacity" to="1" begin="900" duration="100" mode="linear"/>
				<animation property="opacity" to="0" begin="1700" duration="300" autoreverse="true" mode="linear"/>
				<animation property="opacity" to="0" begin="3100" duration="100" mode="linear"/>
				<animation property="color" to="FFFF00" begin="5000" duration="10" mode="linear"/>
				<animation property="opacity" to="1" begin="5200" duration="100" mode="linear"/>
				<animation property="opacity" to="0" begin="6200" duration="100" mode="linear"/>
				<animation property="opacity" to="0" begin="11000" duration="100" mode="linear"/>				
			</storyboard>
			
		</image>
	
		<image name="diago-bas3" extra="true">
			<pos>0.465625 0.7046296</pos>									
			
			<storyboard repeat="forever">
				<animation property="opacity" to="1" begin="1000" duration="100" mode="linear"/>
				<animation property="opacity" to="0" begin="2000" duration="300" autoreverse="true" mode="linear"/>
				<animation property="opacity" to="0" begin="3200" duration="100" mode="linear"/>
				<animation property="color" to="FFFF00" begin="5000" duration="10" mode="linear"/>
				<animation property="opacity" to="1" begin="5300" duration="100" mode="linear"/>
				<animation property="opacity" to="0" begin="6300" duration="100" mode="linear"/>
				<animation property="opacity" to="0" begin="11000" duration="100" mode="linear"/>				
			</storyboard>
			
		</image>
		
		<image name="diago-bas4" extra="true">
			<pos>0.4765625 0.7046296</pos>									
			
			<storyboard repeat="forever">
				<animation property="opacity" to="1" begin="1100" duration="100" mode="linear"/>
				<animation property="opacity" to="0" begin="2300" duration="300" autoreverse="true" mode="linear"/>
				<animation property="opacity" to="0" begin="3300" duration="100" mode="linear"/>
				<animation property="color" to="FFFF00" begin="5000" duration="10" mode="linear"/>
				<animation property="opacity" to="1" begin="5400" duration="100" mode="linear"/>
				<animation property="opacity" to="0" begin="6400" duration="100" mode="linear"/>
				<animation property="opacity" to="0" begin="11000" duration="100" mode="linear"/>				
			</storyboard>
			
		</image>
		
		<image name="diago-bas5" extra="true">
			<pos>0.4890625 0.7046296</pos>									
			
			<storyboard repeat="forever">
				<animation property="opacity" to="1" begin="1200" duration="100" mode="linear"/>
				<animation property="opacity" to="0" begin="2600" duration="300" autoreverse="true" mode="linear"/>
				<animation property="opacity" to="0" begin="3400" duration="100" mode="linear"/>
				<animation property="color" to="FFFF00" begin="5000" duration="10" mode="linear"/>
				<animation property="opacity" to="1" begin="5500" duration="100" mode="linear"/>
				<animation property="opacity" to="0" begin="6500" duration="100" mode="linear"/>
				<animation property="opacity" to="0" begin="11000" duration="100" mode="linear"/>				
			</storyboard>
			
		</image>

	
		<!-- On les masque tout les diagos BAS si on affiche la vue des controllers carbon -->
		<image name="diago-bas1, diago-bas2, diago-bas3, diago-bas4, diago-bas5" ifSubset="systembackground:carbon control" >
			<visible>false</visible>
		</image>
	
	
	
	
	<!-- Cadre de l'aide en bas -->
	
	
	
	<image name="up_BottomFrame, down_BottomFrame, left_BottomFrame, right_BottomFrame, black_BottomFrame" extra="true">
		<path>./../../art/divers/white.png</path>
		<color>${baseColor}</color>
		<zIndex>18</zIndex>
		<origin>0.5 0.5</origin>
	</image>
	
	
	<!-- barre cadre haut -->
	<image name="up_BottomFrame" extra="true">
		<size>1 0.0046296</size>									
		<pos>0.5 0.9375</pos>
		
		<pos ifHelpPrompts="false">2 2</pos>
	</image>
	
			
	
	<!-- barre cadre bas -->
	<image name="down_BottomFrame" extra="true">
		<size>1 0.0046296</size>									
		<pos>0.5 0.9976852</pos>										  
	</image>
	
	<!-- barre cadre gauche -->
	<image name="left_BottomFrame" extra="true">
		<size>0.0026042 0.0555556</size>									
		<pos>0.0013021 0.9675926</pos>	
		
		<pos ifHelpPrompts="false">2 2</pos>
	</image>
	
	<!-- barre cadre droit -->
	<image name="right_BottomFrame" extra="true">
		<size>0.0026042 0.0601852</size>									
		<pos>0.9986979 0.9652778</pos>		
		<!-- <pos ifHelpPrompts="false">2 2</pos> -->
	</image>
	
	<!-- fond noir de l'encadrement de l'aide -->
	<image name="black_BottomFrame" extra="true">
		<path>./../../art/divers/black.png</path>
		<zIndex>16</zIndex>
		<size>1 0.0657407</size>									
		<pos>0.5 0.9680556</pos>	

		<pos ifHelpPrompts="false">2 2</pos>
	</image>
	
	
	
	
	
	<!-- triangle coin supérieur gauche -->
	<image name="left_right_angle_triangle" extra="true">
				<path>./../../art/divers/right_angle_triangle.png</path>
				<color>${baseColor}</color>
				
				<zIndex>18</zIndex>
				<origin>0.5 0.5</origin>
				<flipX>true</flipX>
				<size>0.0364583 0.0648148</size>									
				<pos>0.0208333 0.037037</pos>									
	
		<storyboard>
			<animation property="size" to="0.0171875 0.0305556" begin="1100" duration="650"  mode="EaseOut"/>
			<animation property="pos" to="0.0111979 0.0199074" begin="1100" duration="650"  mode="EaseOut"/>
			
			<animation property="size" to="0.0364583 0.0648148" begin="6500" duration="2000"  mode="EaseOutCubic"/>
			<animation property="pos" to="0.0208333 0.037037" begin="6500" duration="2000"  mode="EaseOutCubic"/>
			
			<animation property="color" to="FFFF00" begin="5800" duration="300" autoreverse="true" mode="linear"/>
			<animation property="color" to="FFFF00" begin="13500" duration="300" autoreverse="true" mode="linear"/>
			<animation property="color" to="FFFF00" begin="19500" duration="300" autoreverse="true" mode="linear"/>
		</storyboard>
	  
	</image>
	
	<!-- barre haut coin supérieur gauche -->
	<image name="up_left_bar" extra="true">
				<path>./../../art/divers/white.png</path>
				<color>${baseColor}</color>
				<zIndex>18</zIndex>
				<origin>0.5 0.5</origin>
				<size>0.2869792 0.0046296</size>									
				<pos>0.1434896 0.0023148</pos>									
									
	
		<storyboard>
			<animation property="offsetX" from="0" to="-0.11" begin="1100" duration="650" mode="linear"/>
			<animation property="offsetX" from="-0.11" to="-0.21" begin="5100" duration="900" mode="EaseIn"/>
			<animation property="offsetX" to="0" begin="6500" duration="2000" mode="EaseOutCubic"/>
			<animation property="color" to="FFFF00" begin="5800" duration="300" autoreverse="true" mode="linear"/>
			<animation property="color" to="FFFF00" begin="13500" duration="300" autoreverse="true" mode="linear"/>
			<animation property="color" to="FFFF00" begin="19500" duration="300" autoreverse="true" mode="linear"/>
		</storyboard>
	  
	</image>
	
	<!-- barre gauche coin supérieur gauche -->
	<image name="left_up_bar" extra="true">
				<path>./../../art/divers/white.png</path>
				<color>${baseColor}</color>
				<zIndex>18</zIndex>
				<origin>0.5 0.5</origin>
				<size>0.0026042 0.3703704</size>									
				<pos>0.0013021 0.0898148</pos>									

		<storyboard>
			<animation property="size" to="0.0026042 0.5555556" begin="1100" duration="650" mode="linear"/>
			<animation property="pos" to="0.0013021 0.2824074" begin="1100" duration="650" mode="linear"/>
			
			<animation property="size" to="0.0026042 0.7092593" begin="5100" duration="900" mode="EaseIn"/>
			<animation property="pos" to="0.0013021 0.31" begin="5100" duration="900" mode="EaseIn"/>
			
			<animation property="size" to="0.0026042 0.3703704" begin="6500" duration="900" mode="EaseOutCubic"/>
			<animation property="pos" to="0.0013021 0.11" begin="6500" duration="900" mode="EaseOutCubic"/>
			
			<animation property="color" to="FFFF00" begin="5800" duration="300" autoreverse="true" mode="linear"/>
			<animation property="color" to="FFFF00" begin="13500" duration="300" autoreverse="true" mode="linear"/>
			<animation property="color" to="FFFF00" begin="19500" duration="300" autoreverse="true" mode="linear"/>
		</storyboard>
	  
	</image>
	
	
	
	
	
	
	
	
	
	
	
	<!-- La barre en bas Helpsystem -->
		<!-- POUR LA METTRE EN PLUS PETITE -->
		
			<helpsystem name="help">
				<!-- <size>0.01 0.01</size> -->
				<!-- <maxSize>0.1 0.025</maxSize> -->
				<pos>0.01 0.955</pos>
				<fontSize>0.0313</fontSize>
				<!-- <glowColor>00000080</glowColor> -->
				<!-- <glowSize>1</glowSize> -->
				<!-- <glowOffset>1</glowOffset> -->
			</helpsystem>

		
  </view>
    
  <feature supported="manufacturer">
    <view name="system">
      <text name="manufacturerName" extra="true">
		<origin>0.5 0.5</origin>
        <text>${system.sortedBy}</text>
        <alignment>left</alignment>
        <verticalAlignment>top</verticalAlignment>
        <fontPath>./../../art/fonts/ubuntu.ttf</fontPath>
        <fontSize>0.040</fontSize>
        <pos>0.03 0.068</pos>
		<pos ifHelpPrompts="false">0.03 0.108</pos>
        <size>0.942 0.28</size>
        <zIndex>100</zIndex>
        <color>${infoColor}</color>
        <glowColor>00000080</glowColor>
        <glowSize>1</glowSize>
		
		<rotation>-90</rotation>
		
		<storyboard>
			<animation property="offsetX" to="0.05" begin="1100" duration="500" mode="easeOutCubic"/>
			
			<animation property="color" to="FFFF00" begin="6000" duration="1000" autoreverse="true" mode="linear"/>
			<animation property="offsetY" to="-0.005" begin="6000" duration="100" autoreverse="true" mode="linear"/>
			<animation property="color" to="FFFF00" begin="12000" duration="1000" autoreverse="true" mode="linear"/>
			<animation property="offsetY" to="-0.005" begin="12000" duration="100" autoreverse="true" mode="linear"/>
			<animation property="color" to="FFFF00" begin="18000" duration="1000" autoreverse="true" mode="linear"/>
			<animation property="offsetY" to="-0.005" begin="18000" duration="100" autoreverse="true" mode="linear"/>
			<animation property="color" to="FFFF00" begin="24000" duration="1000" autoreverse="true" mode="linear"/>
			<animation property="offsetY" to="-0.005" begin="24000" duration="100" autoreverse="true" mode="linear"/>
			
		</storyboard>
      </text>
	  
	  
	  <text name="releaseYyear" extra="true">
	    <origin>0.5 0.5</origin>
        <text>${system.releaseYearOrNull}</text>
        <alignment>center</alignment>
        <verticalAlignment>top</verticalAlignment>
        <fontPath>./../../art/fonts/ubuntu.ttf</fontPath>
        <fontSize>0.030</fontSize>
        <pos>0.085 0.88</pos>
		<pos ifHelpPrompts="false">0.085 0.92</pos>
        <size>0.94 0.28</size>        
        <zIndex>100</zIndex>
        <color>${infoColor}</color>
        <glowColor>000000A0</glowColor>
        <glowSize>1</glowSize>
        <scale>0</scale>       
				
		<storyboard>
			<animation property="offsetX" to="-0.2" begin="" duration="1" mode="linear"/>
			<animation property="offsetX" to="0" begin="2100" duration="50" mode="linear"/>
			
			<animation property="scale" from="0" to="1" begin="1900" duration="250" mode="easeInOut"/>
			
			<animation property="color" to="FFFF00" begin="3000" duration="1000" autoreverse="true" mode="linear"/>
			<animation property="offsetY" to="-0.005" begin="3000" duration="100" autoreverse="true" mode="linear"/>
			<animation property="color" to="FFFF00" begin="9000" duration="1000" autoreverse="true" mode="linear"/>
			<animation property="offsetY" to="-0.005" begin="9000" duration="100" autoreverse="true" mode="linear"/>
			<animation property="color" to="FFFF00" begin="15000" duration="1000" autoreverse="true" mode="linear"/>
			<animation property="offsetY" to="-0.005" begin="15000" duration="100" autoreverse="true" mode="linear"/>
			<animation property="color" to="FFFF00" begin="21000" duration="1000" autoreverse="true" mode="linear"/>
			<animation property="offsetY" to="-0.005" begin="21000" duration="100" autoreverse="true" mode="linear"/>
	    </storyboard>		
		
   
      </text> 
	  
	  
	  
      <text name="fullName" extra="true">
        <text>${system.fullName}</text>
        <alignment>left</alignment>
        <verticalAlignment>top</verticalAlignment>
        <fontPath>./../../art/fonts/ubuntu.ttf</fontPath>
        <fontSize>0.024</fontSize>
        <pos>0.03 0.12</pos>
        <pos verticalScreen="true">0.03 0.10</pos>         
        <size>0.94 0.28</size>
        <zIndex>100</zIndex>
        <color>D0D0D0FF</color>
        <glowColor>000000A0</glowColor>
        <glowSize>1</glowSize>
      </text>
	  
	  
      
    </view>
	
	
	
	
	
	
		
<!-- '''''''''''''''''''''''''''''''''''''''''''''''' -->
<!-- '''''''''''''''''''''''''''''''''''''''''''''''' -->
<!-- '''''''      SYSTEM SIMPLE    '''''''''''''''' -->
<!-- '''''' en complément du simple.xml ''''''''''' -->
<!-- '''''''''''''''''''''''''''''''''''''''''''''''' -->
<!-- '''''''''''''''''''''''''''''''''''''''''''''''' -->

	
	
	<view name="system" ifSubset="SystemView:simple">
	
		<text name="manufacturerName">
			<alignment>right</alignment>
			<fontSize>0.040</fontSize>
			<pos>0.711 0.18</pos>
			<size>0.942 0.28</size>
			<color>${infoColor}</color>
			<zIndex>20</zIndex>
			<rotation>0</rotation>
				<storyboard>
					<animation property="offsetX" to="-0.2" begin="" duration="1300" mode="EaseOutCubic"/>
				</storyboard>	
		</text>
		
	
		<image name="controllers2" extra="true">
			<pos>1.1592917 0.11</pos>	
			<maxSize>0.3 0.25</maxSize>									
			<horizontalAlignment>right</horizontalAlignment>
			<verticalAlignment>bottom</verticalAlignment>
			<storyboard>
				<animation property="offsetX" to="-0.475" begin="" duration="1300" mode="EaseOutCubic"/>
			</storyboard>	
		</image>

		
		<text name="releaseYyear">
			<fontSize>0.05</fontSize>
			<pos>0.93 0.71</pos>
			<zIndex>20</zIndex>
			<scale>1</scale>
			<fontPath>./../../art/fonts/ubuntu-bold.ttf</fontPath>
					
			<storyboard>
				<animation property="color" to="FFFF00" begin="3000" duration="1000" autoreverse="true" mode="linear"/>
				<animation property="offsetY" to="-0.005" begin="3000" duration="100" autoreverse="true" mode="linear"/>
				<animation property="color" to="FFFF00" begin="9000" duration="1000" autoreverse="true" mode="linear"/>
				<animation property="offsetY" to="-0.005" begin="9000" duration="100" autoreverse="true" mode="linear"/>
				<animation property="color" to="FFFF00" begin="15000" duration="1000" autoreverse="true" mode="linear"/>
				<animation property="offsetY" to="-0.005" begin="15000" duration="100" autoreverse="true" mode="linear"/>
				<animation property="color" to="FFFF00" begin="21000" duration="1000" autoreverse="true" mode="linear"/>
				<animation property="offsetY" to="-0.005" begin="21000" duration="100" autoreverse="true" mode="linear"/>
			</storyboard>		
		</text> 
		
		<text name="system_description">
			<visible>false</visible>
		</text>
	
		<text name="system_description" ifSubset="system-description:Show">
			<visible>true</visible>
			<pos>0.071 0.73</pos>
			<alignment>left</alignment>
			<size>0.5 0.2</size>
			<color>${infoColor}</color>
			<autoScroll>vertical</autoScroll>
			<zIndex>2000</zIndex>
		</text>
	
	
	
		<!-- Placement des stats détaillés avec la HelpPrompts AFFICHER -->
		<text name="systemInfoEx" ifSubset="InfoCustomView:detailed" ifHelpPrompts="true" extra="true">
			<storyboard>
				<animation property="offsetX" to="0.01"/>
				<animation property="offsetY" to="0.02"/>
				<animation property="opacity" to="0"/>
				<animation property="opacity" from="0" to="1" begin="300" duration="1300" mode="linear"/>
			</storyboard>
		</text>

	
		<!-- Placement des stats détaillés avec la HelpPrompts MASQUER -->
		<text name="systemInfoEx" ifSubset="InfoCustomView:detailed" ifHelpPrompts="false" extra="true">
			<storyboard>
				<animation property="offsetX" to="0.01"/>
				<animation property="offsetY" to="-0.03"/>
				<animation property="opacity" to="0"/>
				<animation property="opacity" from="0" to="1" begin="700" duration="300" mode="Linear"/>
				
			</storyboard>
		</text>
		
		
		
		
		
		
	
	
	</view>
	
	
	
	
	
	
	
	
	
	
	
	
	
<!-- '''''''''''''''''''''''''''''''''''''''''''''''' -->
<!-- '''''''''''''''''''''''''''''''''''''''''''''''' -->
<!-- '''''''      SYSTEM VERTICAL    '''''''''''''''' -->
<!-- '''''' en complément du vertical.xml ''''''''''' -->
<!-- '''''''''''''''''''''''''''''''''''''''''''''''' -->
<!-- '''''''''''''''''''''''''''''''''''''''''''''''' -->

	
		<view name="system" ifSubset="SystemView:vertical">

	
		<image name="controllers2" extra="true">
			
			<pos>1.1572917 0.05</pos>	
			<maxSize>0.2302083 0.1787037</maxSize>									
			<horizontalAlignment>right</horizontalAlignment>
			<verticalAlignment>bottom</verticalAlignment>
			
			<storyboard>
				<animation property="offsetX" to="-0.4" begin="6500" duration="1500" mode="EaseOutCubic"/>
			</storyboard>	
			
	  
		</image>

		
		<text name="manufacturerName">
			<alignment>right</alignment>
			<fontSize>0.040</fontSize>
			<pos>0.911 0.38</pos>
			<size>0.942 0.28</size>
			<color>${infoColor}</color>
			<zIndex>16</zIndex>
			
			<rotation>0</rotation>
			
				<storyboard>
					<animation property="offsetX" to="-0.4" begin="6500" duration="1500" mode="EaseOutCubic"/>
				</storyboard>	
		</text>
		
		<text name="releaseYyear">
			<fontSize>0.05</fontSize>
			<pos>1.151 0.44</pos>
			<zIndex>16</zIndex>
			<scale>1</scale>
			<fontPath>./../../art/fonts/ubuntu-bold.ttf</fontPath>
					
			<storyboard>
				<animation property="offsetX" to="-0.2" begin="6500" duration="1500" mode="EaseOutCubic"/>
				<animation property="color" to="FFFF00" begin="3000" duration="1000" autoreverse="true" mode="linear"/>
				<animation property="offsetY" to="-0.005" begin="3000" duration="100" autoreverse="true" mode="linear"/>
				<animation property="color" to="FFFF00" begin="9000" duration="1000" autoreverse="true" mode="linear"/>
				<animation property="offsetY" to="-0.005" begin="9000" duration="100" autoreverse="true" mode="linear"/>
				<animation property="color" to="FFFF00" begin="15000" duration="1000" autoreverse="true" mode="linear"/>
				<animation property="offsetY" to="-0.005" begin="15000" duration="100" autoreverse="true" mode="linear"/>
				<animation property="color" to="FFFF00" begin="21000" duration="1000" autoreverse="true" mode="linear"/>
				<animation property="offsetY" to="-0.005" begin="21000" duration="100" autoreverse="true" mode="linear"/>
			</storyboard>		
		</text> 
	
		<text name="system_description" ifSubset="system-description:Show" extra="true">
			<pos>1.0819 0.64</pos>
			<size>0.317 0.293</size>
			<color>${infoColor}</color>
			<autoScroll>vertical</autoScroll>

			<storyboard>
				<animation property="offsetX" to="-0.409" begin="6500" duration="1500" mode="EaseOutCubic"/>
			</storyboard>	

		</text>
		
		<!-- Animation de la bar jaune + stats détaillés -->
					<!-- <image name="YellowBarDesc" ifSubset="InfoCustomView:detailed" ifHelpPrompts="false"  extra="true"> -->
						<!-- <origin>0.5 0.5</origin>									 -->
						<!-- <size>0.0510417 0.312963</size> -->
						<!-- <pos>0.0885417 0.575</pos> -->
						<!-- <path>./../../art/divers/YellowBarDesc.png</path> -->
						<!-- <zIndex>10</zIndex> -->
						<!-- <opacity>0</opacity> -->
						
						<!-- <storyboard> -->
							<!-- <animation property="opacity" from="0" to="1" begin="300" duration="100" mode="Linear"/> -->
							<!-- <animation property="offsetY" to="0.25" begin="300" duration="700" mode="easeInOut"/> -->
						<!-- </storyboard> -->
						
					<!-- </image> -->
	
		<text name="systemInfoEx" ifSubset="InfoCustomView:detailed" ifHelpPrompts="false" extra="true">
			<storyboard>
				<animation property="offsetX" to="0.005"/>
				<animation property="offsetY" to="-0.02"/>
				<animation property="opacity" to="0"/>
				<animation property="opacity" from="0" to="1" begin="700" duration="300" mode="Linear"/>
			</storyboard>
		</text>
		
		
		<!-- Placement des stats détaillés avec la HelpPrompts -->
		<text name="systemInfoEx" ifSubset="InfoCustomView:detailed" ifHelpPrompts="true" extra="true">
			<storyboard>
				<animation property="offsetY" to="0.005"/>
				<animation property="opacity" to="0"/>
				<animation property="opacity" from="0" to="1" begin="300" duration="1300" mode="linear"/>
			</storyboard>
		</text>
		
		
		
	
	</view>
	
	
<!-- '''''''''''''''''''''''''''''''''''''''''''''''' -->
<!-- '''''''''''''''''''''''''''''''''''''''''''''''' -->
<!-- ''''''''''      SYSTEM WHEEL       ''''''''''''' -->
<!-- ''''''''' en complément du wheel.xml ''''''''''' -->
<!-- '''''''''''''''''''''''''''''''''''''''''''''''' -->
<!-- '''''''''''''''''''''''''''''''''''''''''''''''' -->
	
<view name="system" ifSubset="SystemView:wheel">
	
	
	<image name="controllers2" extra="true">
	
		<origin>0.5 0.5</origin>									
		<pos>1.1817708 0.2101852</pos>									
		<maxSize>0.3 0.3</maxSize>									
	
		<horizontalAlignment>center</horizontalAlignment>
		<verticalAlignment>center</verticalAlignment>
		
		
		<!-- Rotation normale à 20000 -->
		<storyboard>
			<animation property="offsetX" to="-0.34375" begin="6500" duration="1500" mode="EaseOutCubic"/>
			
			<animation property="scale" to="0.9" begin="14000" duration="250" autoreverse="true" mode="bump"/>
			
			<animation property="rotation" to="360" begin="20000" duration="500" mode="linear"/>
			<animation property="scale" to="0.5" begin="20000" duration="150" mode="linear"/>
			<animation property="scale" to="1" begin="20250" duration="350" mode="linear"/>
			
		</storyboard>
		
		<!-- Rotation à -90° avec Zoom - -->
		<storyboard if="{system.theme} == 'astrocade' || {system.theme} == 'channelf' || {system.theme} == 'wonderswan' || {system.theme} == 'wonderswancolor'">
		
			<animation property="offsetX" to="-0.34375" begin="6500" duration="1500" mode="EaseOutCubic"/>
			
			<animation property="rotation" to="-90" begin="14000" duration="500" mode="linear"/>
			<animation property="scale" to="0.5" begin="14000" duration="250" mode="linear"/>
			<animation property="scale" to="0.6" begin="14250" duration="250" mode="linear"/>
			
			<animation property="rotation" to="360" begin="20000" duration="500" mode="linear"/>
			<animation property="scale" to="0.5" begin="20000" duration="150" mode="linear"/>
			<animation property="scale" to="1" begin="20250" duration="350" mode="linear"/>
		</storyboard>
		
		<!-- Rotation à 90° avec Zoom - -->
		<storyboard if="{system.theme} == 'wiiu' || {system.theme} == 'wii' || {system.theme} == 'vc4000' || {system.theme} == 'colecovision' || {system.theme} == 'intellivision' || {system.theme} == 'setup' || {system.theme} == 'sg-1000'">
		
			<animation property="offsetX" to="-0.34375" begin="6500" duration="1500" mode="EaseOutCubic"/>
			
			<animation property="rotation" to="90" begin="14000" duration="500" mode="linear"/>
			<animation property="scale" to="0.5" begin="14000" duration="250" mode="linear"/>
			<animation property="scale" to="0.6" begin="14250" duration="250" mode="linear"/>
			
			<animation property="rotation" to="360" begin="20000" duration="500" mode="linear"/>
			<animation property="scale" to="0.5" begin="20000" duration="150" mode="linear"/>
			<animation property="scale" to="1" begin="20250" duration="350" mode="linear"/>
		</storyboard>
		
		
		<!-- Rotation à -90° avec Zoom + -->
		<storyboard if="{system.theme} == 'videopac' ||  {system.theme} == 'videopacplus' ||  {system.theme} == 'supervision' ||  {system.theme} == 'scv' ||  {system.theme} == 'scummvm' ||  {system.theme} == 'pv1000' ||  {system.theme} == 'pokemini' ||  {system.theme} == 'odyssey2' ||  {system.theme} == 'megaduck' ||  {system.theme} == 'gbc' || {system.theme} == 'atari5200' || {system.theme} == 'apfm1000' || {system.theme} == 'arcadia' || {system.theme} == 'arduboy' || {system.theme} == 'gb'">
		
			<animation property="offsetX" to="-0.34375" begin="6500" duration="1500" mode="EaseOutCubic"/>
			
			<animation property="rotation" to="-90" begin="14000" duration="500" mode="linear"/>
			<animation property="scale" to="0.5" begin="14000" duration="250" mode="linear"/>
			<animation property="scale" to="1.5" begin="14250" duration="250" mode="linear"/>
			
			<animation property="rotation" to="360" begin="20000" duration="500" mode="linear"/>
			<animation property="scale" to="0.5" begin="20000" duration="150" mode="linear"/>
			<animation property="scale" to="1" begin="20250" duration="350" mode="linear"/>
		</storyboard>
		
	</image>


	<text name="system_description" ifSubset="system-description:Hide">
		<opacity>0</opacity>	
		<pos>1.082 0.62</pos>
	</text>

	<text name="system_description" ifSubset="system-description:Show">
		<pos>1.082 0.62</pos>
		<size>0.319 0.293</size>
		<color>${infoColor}</color>
		<autoScroll>vertical</autoScroll>
		<storyboard>
			<animation property="offsetX" to="-0.415" begin="6500" duration="1500" mode="EaseOutCubic"/>
		</storyboard>	
	</text>
	
	
	
	
	
	
	
		
</view>
	

	
	
</feature>
  
</theme>